$body-color: coral;
$container-color: rgb(94, 94, 210);
$icons-color: rgb(49, 49, 236);
$border-color: darkgray;
$text-backround: white;

$twitter-color:#00acee;
$facebook-color:  #3b5998;
$linkedin-color:#0e76a8;
$instagram-color:#5c9b3f ;
$youtube-color:#c4302b ;
$tumblr-color:  #34526f;
$dribbble-color:#ea4c89;

